{% extends 'base.html.twig' %}


{% block title %}Accueil - {{ parent() }}{% endblock %}

{% block header %}
    <div class="flex-header">
        <div>
            <h1>Location de voitures à Saint-Étienne</h1>
            <p>Un service de location de voitures au mois pour répondre à vos besoins de mobilité.</p>
        </div>
        <div>
            <img src="{{ asset('assets/img/car.png') }}" alt="Voiture">
        </div>
    </div>
{% endblock %}

{% block body %}
    <section id="fleet">
        <h2>Découvrez la flotte de véhicules chez Véhicloc</h2>
        <p>Que vous ayez besoin d'une petite citadine agile, d'une berline élégante ou même d'un SUV spacieux, nous
            avons une variété de véhicules pour répondre à vos exigences.</p>
        <div class="fleet-list">

            {% for car in cars %}
                <article>
                    <div class="mini-car-title">
                        <a href="{{ path('app_car_detail', {id: car.id}) }}">
                            <h3>{{ car.name }}</h3>
                            <p>ou similaire | Saint-Étienne</p>
                        </a>
                        <div>
                            <a href="#"><img src="{{ asset('assets/icons/trash.png') }}" alt="Supprimer"/></a>
                        </div>
                    </div>
                    <div class="mini-car-icons">
                        <div>
                            <img src="{{ asset('assets/icons/persons.png') }}" alt="{{ car.seats }} places"/>
                            <p>{{ car.seats }} places</p>
                        </div>
                        <div>
                            <img src="{{ asset('assets/icons/motor.png') }}" alt="Manuelle"/>
                            <p>{{ car.gearbox.value }}</p>
                        </div>
                        <div>
                            <img src="{{ asset('assets/icons/km.png') }}" alt="km illimités"/>
                            <p>Km illimités</p>
                        </div>
                        <div>
                            <img src="{{ asset('assets/icons/plus.png') }}" alt="PLus"/>
                            <p>Plus</p>
                        </div>
                    </div>
                    <div class="mini-car-price">
                        <p class="price-per-day">{{ car.dailyRate }} € / jour</p>
                        <p class="price-per-month">{{ car.monthlyPrice }} € / mois</p>
                    </div>
                </article>
            {% else %}
                <li>Aucun enregistrement en base de données</li>
            {% endfor %}
        </div>
    </section>

    <section id="promises">
        <div>
            <h2>La promesse Véhicloc</h2>
            <div class="promise">
                <img src="{{ asset('assets/icons/insurance.png') }}" alt="Assurance et Assistance">
                <div class="promise-text">
                    <h3>Assurance et Assistance</h3>
                    <p>Votre tranquillité d'esprit est notre priorité. Toutes nos locations mensuelles incluent une
                        assurance complète et une assistance routière, pour garantir une conduite en toute sécurité.</p>
                </div>
            </div>
            <div class="promise">
                <img src="{{ asset('assets/icons/booking.png') }}" alt="Réservation facile">
                <div class="promise-text">
                    <h3>Réservation facile</h3>
                    <p>Notre plateforme vous permet de réserver votre voiture en quelques clics. Sélectionnez vos dates,
                        choisissez le modèle qui vous convient et finalisez votre réservation en un rien de temps.</p>
                </div>
            </div>
        </div>
        <div>
            <img src="{{ asset('assets/img/promise.png') }}" alt="La promesse Véhicloc">
        </div>
    </section>

{% endblock %}
