<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Véhicloc{% endblock %}</title>
    <link rel="icon"
          href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset ('assets/css/style.css') }}">
    {% endblock %}
</head>
<body>
<header>
    <nav>
        <a href="{{ path('app_car')}}"><img src="{{ asset('assets/img/logo.png') }}" alt="Vehicloc"/></a>
{#
        <a href="{{ path('app_home') }}"><img src="{{ asset('assets/img/logo.png') }}" alt="Vehicloc"/></a>
#}
        <a href="#" class="btn-nav">Ajouter une voiture</a>
    </nav>
    {% block header %}{% endblock %}
</header>

{% block body %}{% endblock %}

<footer>
    <h2>Conduire avec nous</h2>
    <nav>
        <ul>
            <li><a href="#">Mentions légales</a></li>
            <li><a href="#">Nous contacter</a></li>
            <li>
                <a href="#"><img src="{{ asset('assets/icons/instagram.png') }}" alt="Instagram"/></a>
                <a href="#"><img src="{{ asset('assets/icons/facebook.png') }}" alt="Facebook"/></a>
            </li>
        </ul>
        <ul>
            <li><a href="#">Données personnelles</a></li>
            <li><a href="#">Questions fréquentes</a></li>
            <li class="copyright">© Véhicloc 2023</li>
        </ul>
    </nav>
</footer>

</body>

</html>
